<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" />
    <title>Document</title>
  </head>
  <body>
    <a href="/login">ログイン</a
    >をクリックするとKeycloakにリダイレクトされる<br />

    {{ .data }}

    <hr />

    ログオフする場合は<a href="/logout">こちら</a>

    <hr />
    事前に<a href="{{ .keycloak }}">Keycloak</a
    >にログインしてユーザを作成し、グループへの追加とロールの割り当て、パスワードの設定をしてください。パスワード設定時には「Temporary」をOFFにしたほうがいいと思います。<br />
    keycloak再起動後はツールでデータ投入してもSecretが変わるのでclientとAPIサーバの設定修正が必要です
  </body>
</html>
